<h1>Editing user</h1>

<%= render 'form' %>

<div id="button_back">
<%= button_to 'Back',
              users_path,
              :method => :get %>
</div>
<div id="button_show">
<%= button_to 'Show',
              @user,
              :method => :get %>
</div>

