<h1>Editing order</h1>

<%= render 'form' %>

<div id="button_back">
<%= button_to 'Back',
              orders_path,
              :method => :get %>
</div>
<div id="button_show">
<%= button_to 'Show',
              @order,
              :method => :get %>
</div>

