<h1>Editing product</h1>

<%= render 'form' %>

<div id="button_back">
<%= button_to 'Back',
              products_path,
              :method => :get %>
</div>
<div id="button_show">
<%= button_to 'Show',
              @product,
              :method => :get %>
</div>

