<h1>Editing pay_type</h1>

<%= render 'form' %>

<div id="button_back">
<%= button_to 'Back',
              pay_types_path,
              :method => :get %>
</div>
<div id="button_show">
<%= button_to 'Show',
              @pay_type,
              :method => :get %>
</div>

