<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @pay_type.name %>
</p>

<div id="button_back">
<%= button_to 'Back',
              pay_types_path,
              :method => :get %>
</div>
<div id="button_edit">
<%= button_to 'Edit',
              edit_pay_type_path(@pay_type),
              :method => :get %>
</div>

